<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-searchbar placeholder="Search"></ion-searchbar>
    <!-- Implement changeSearch() -->
    <ion-segment value="events" (ionChange)="changeSearch($event)">
      <ion-segment-button value="events">
        <ion-label>Eventos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="accounts">
        <ion-label>Contas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-header>
  <ion-grid>
    <h4><b>Recomendados para você</b></h4>
    <div class="events-container">
      <div class="event">
        <ion-card class="event-card" button="true">
          <ion-card-content>
            <ion-row>
              <ion-col size="12" class="event-image-container">
                <ion-img src="../../assets/eventImgs/event_image_1.jpg" class="event-image"></ion-img>
              </ion-col>
            </ion-row>
            <div class="event-details">
              <ion-row>
                <ion-col size="12" class="event-description">
                  <ion-card-title>Dia Do Investidor</ion-card-title>
                  <ion-card-subtitle>Seg, 24 Ago 2020</ion-card-subtitle>
                  <p class="location">Rua Artur de Azevedo, 1217</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="rsvp-container">
                  <ion-button color="dark" class="rsvp-button">Seguir Evento</ion-button>
                  <p><span><b>1.5k</b></span> seguidores</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="event">
        <ion-card class="event-card" button="true">
          <ion-card-content>
            <ion-row>
              <ion-col size="12" class="event-image-container">
                <ion-img src="../../assets/eventImgs/event_image_2.png" class="event-image"></ion-img>
              </ion-col>
            </ion-row>
            <div class="event-details">
              <ion-row>
                <ion-col size="12" class="event-description">
                  <ion-card-title>Lollapalooza</ion-card-title>
                  <ion-card-subtitle>Sexta, 24 Mar 2021</ion-card-subtitle>
                  <p class="location">Autódramo de Interlagos</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="rsvp-container">
                  <ion-button color="dark" class="rsvp-button">Seguir Evento</ion-button>
                  <p><span><b>1.5m</b></span> seguidores</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="event">
        <ion-card class="event-card" button="true">
          <ion-card-content>
            <ion-row>
              <ion-col size="12" class="event-image-container">
                <ion-img src="../../assets/eventImgs/event_image_3.jpg" class="event-image"></ion-img>
              </ion-col>
            </ion-row>
            <div class="event-details">
              <ion-row>
                <ion-col size="12" class="event-description">
                  <ion-card-title>Casamento Ana...</ion-card-title>
                  <ion-card-subtitle>Sáb, 18 Out 2020</ion-card-subtitle>
                  <p class="location">Chácara São António</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="rsvp-container">
                  <ion-button color="dark" class="rsvp-button">Seguir Evento</ion-button>
                  <p><span><b>768</b></span> seguidores</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <h4><b>Eventos de seus amigos</b></h4>
    <div class="events-container">
      <div class="event">
        <ion-card class="event-card" button="true">
          <ion-card-content>
            <ion-row>
              <ion-col size="12" class="event-image-container">
                <ion-img src="../../assets/eventImgs/event_image_4.jpg" class="event-image"></ion-img>
              </ion-col>
            </ion-row>
            <div class="event-details">
              <ion-row>
                <ion-col size="12" class="event-description">
                  <ion-card-title>Esquenta do João</ion-card-title>
                  <ion-card-subtitle>Sexta, 18 Set 2020</ion-card-subtitle>
                  <p class="location">Rua José Marcos, 1432</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="rsvp-container">
                  <ion-button color="dark" class="rsvp-button">Seguir Evento</ion-button>
                  <p><span><b>132</b></span> seguidores</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="event">
        <ion-card class="event-card" button="true">
          <ion-card-content>
            <ion-row>
              <ion-col size="12" class="event-image-container">
                <ion-img src="../../assets/eventImgs/event_image_5.jpg" class="event-image"></ion-img>
              </ion-col>
            </ion-row>
            <div class="event-details">
              <ion-row>
                <ion-col size="12" class="event-description">
                  <ion-card-title>Despedida de solteiro</ion-card-title>
                  <ion-card-subtitle>Sexta, 05 Nov 2020</ion-card-subtitle>
                  <p class="location">Lá em Casa</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="rsvp-container">
                  <ion-button color="dark" class="rsvp-button">Seguir Evento</ion-button>
                  <p><span><b>23</b></span> seguidores</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="event">
        <ion-card class="event-card" button="true">
          <ion-card-content>
            <ion-row>
              <ion-col size="12" class="event-image-container">
                <ion-img src="../../assets/eventImgs/event_image_6.jpg" class="event-image"></ion-img>
              </ion-col>
            </ion-row>
            <div class="event-details">
              <ion-row>
                <ion-col size="12" class="event-description">
                  <ion-card-title>Aniversário da Julia</ion-card-title>
                  <ion-card-subtitle>Seg, 31 Out 2020</ion-card-subtitle>
                  <p class="location">Rua Atlântica 231</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="rsvp-container">
                  <ion-button color="dark" class="rsvp-button">Seguir Evento</ion-button>
                  <p><span><b>326</b></span> seguidores</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <h4><b>Eventos próximos a você</b></h4>
    <div class="events-container">
      <div class="event">
        <ion-card class="event-card" button="true">
          <ion-card-content>
            <ion-row>
              <ion-col size="12" class="event-image-container">
                <ion-img src="../../assets/eventImgs/festa.jpg" class="event-image"></ion-img>
              </ion-col>
            </ion-row>
            <div class="event-details">
              <ion-row>
                <ion-col size="12" class="event-description">
                  <ion-card-title>Show Anitta</ion-card-title>
                  <ion-card-subtitle>Seg, 24 Set 2020</ion-card-subtitle>
                  <p class="location">Maracanã</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="rsvp-container">
                  <ion-button color="dark" class="rsvp-button">Seguir Evento</ion-button>
                  <p><span><b>138k</b></span> seguidores</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="event">
        <ion-card class="event-card" button="true">
          <ion-card-content>
            <ion-row>
              <ion-col size="12" class="event-image-container">
                <ion-img src="../../assets/eventImgs/event_image_7.webp" class="event-image"></ion-img>
              </ion-col>
            </ion-row>
            <div class="event-details">
              <ion-row>
                <ion-col size="12" class="event-description">
                  <ion-card-title>IPO Zoom</ion-card-title>
                  <ion-card-subtitle>Quarta, 12 Nov 2020</ion-card-subtitle>
                  <p class="location">www.citadel.com</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="rsvp-container">
                  <ion-button color="dark" class="rsvp-button">Seguir Evento</ion-button>
                  <p><span><b>1.5k</b></span> seguidores</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="event">
        <ion-card class="event-card" button="true">
          <ion-card-content>
            <ion-row>
              <ion-col size="12" class="event-image-container">
                <ion-img src="../../assets/eventImgs/event_image_1.jpg" class="event-image"></ion-img>
              </ion-col>
            </ion-row>
            <div class="event-details">
              <ion-row>
                <ion-col size="12" class="event-description">
                  <ion-card-title>Dia Do Investidor</ion-card-title>
                  <ion-card-subtitle>Seg, 24 Ago 2020</ion-card-subtitle>
                  <p class="location">Rua Artur de Azevedo, 1217</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="rsvp-container">
                  <ion-button color="dark" class="rsvp-button">Seguir Evento</ion-button>
                  <p><span><b>1.5k</b></span> seguidores</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-grid>
</ion-content>
