.events-wrapper {
  color: black;
  background-color: white; 
  padding-left: 0; 
  padding-right: 0;
}

ion-title {
  font-size: 30px;
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}

ion-card, ion-card-header, ion-card-content {
  margin: 0;
  padding: 0;
  box-shadow: none;
}