<ion-tabs #myTabs>
  
  <ion-tab-bar slot="bottom" id="myTabBar">

    <ion-tab-button tab="myFeed" 
      (click)="selectHome()">
      <div *ngIf="isHomeSelected; then homeSelected, else homeOutline"></div>
      <ng-template #homeSelected><ion-icon  name="home" class="my-tab"></ion-icon></ng-template> 
      <ng-template #homeOutline><ion-icon  name="home-outline" class="my-tab"></ion-icon></ng-template> 
    </ion-tab-button>

     <ion-tab-button tab="explore"
      (click)="selectExplore()">
      <div *ngIf="isExploreSelected; then exploreSelected, else exploreOutline"></div>
      <ng-template #exploreSelected><ion-icon  name="search-circle" class="my-tab"></ion-icon></ng-template> 
      <ng-template #exploreOutline><ion-icon  name="search-circle-outline" class="my-tab"></ion-icon></ng-template> 
    </ion-tab-button>

    <ion-tab-button tab="postEvent" 
      (click)="selectPost()">
      <div *ngIf="isPostSelected; then postSelected, else postOutline"></div>
      <ng-template #postSelected><ion-icon  name="add-circle" class="my-tab"></ion-icon></ng-template> 
      <ng-template #postOutline><ion-icon  name="add-circle-outline" class="my-tab"></ion-icon></ng-template> 
    </ion-tab-button>

    <ion-tab-button tab="myEvents"
      (click)="selectMyEvents()">
      <div *ngIf="isMyEventsSelected; then myEventsSelected, else myEventsOutline"></div>
      <ng-template #myEventsSelected><ion-icon  name="notifications" class="my-tab"></ion-icon></ng-template> 
      <ng-template #myEventsOutline><ion-icon  name="notifications-outline" class="my-tab"></ion-icon></ng-template> 
    </ion-tab-button>

    <ion-tab-button tab="myProfile"
      (click)="selectProfile()">
      <div *ngIf="isProfileSelected; then profileSelected, else profileOutline"></div>
      <ng-template #profileSelected><ion-icon  name="person" class="my-tab"></ion-icon></ng-template> 
      <ng-template #profileOutline><ion-icon  name="person-outline" class="my-tab"></ion-icon></ng-template> 
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
